body{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    margin: 0px;
    cursor: url('cursor.cur'), auto;
    background-color: #992B2B;
}

.container{
    width: 615px;
    margin: auto;
    background-color: rgb(62, 3, 3);
}


.header .judul{
    font: bold;
    margin-left: 20px;
    font-size: 20px;
}

.header ul li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
}

.gambar{
    height: 250px;
    background-image: url(zaku2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.background{
    background-image: url(backgroundzeon.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.artikel{
    font: bold;
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 0;
}

.penulis{
    font-size: 10px;
    margin: 0;
    margin-left: 20px;
}
a:link {
    color: rgb(255, 3, 3) 
  }
a:visited {
    color: rgb(249, 2, 2) 
  }
a:active {
    color: rgb(255, 0, 0) 
  }
a:hover {
    color: rgb(243, 13, 13) 
  }