body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 960px;
}
#header{
	width: 100%;
	float: left;
	height: 300px;
	background: url(laptop1.png);
}

#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #333333;
	color: white;
	text-align: left;
}
#menu ul li{
	display: inline-block;
	text-align: right;
	color: white;
	padding-right: 20px;
	margin-right: 20px;
}
 #menu a:link {
	text-decoration: none;
    color: rgb(255, 255, 255)
  }
 #menu a:visited {
	text-decoration: none;
    color: rgb(255, 255, 255) 
  }
 #menu a:active {
	text-decoration: underline;
    color: rgb(255, 255, 255) 
  }
 #menu a:hover {
	text-decoration: underline;
    color: rgb(255, 255, 255)
  }
  #side-menu ul li{
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
  }
  #side-menu a:link {
	text-decoration: none;
    color: rgb(17, 17, 17)
  }
  #side-menu a:visited {
	text-decoration: none;
    color: rgb(17, 17, 17)
  }
  #side-menu a:hover {
	text-decoration: none;
	color: rgb(17, 17, 17)
  }
  #side-menu a:active {
	text-decoration: none;
    color: rgb(17, 17, 17)
  }
 #main-content{
	width: 100%;
	min-height: auto;
}
#news{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: left;
	color: black;
	background-color: white;
}
#image{
	background-image: url(javascr.png);
	height: 30%;
	width: 60%;
	background-repeat: no-repeat;
	padding-left: 10px;
}
#side-menu{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #eeeeee;
	padding-top: 10px;
}#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
	color: white;
	text-align: center;
}
 #footer a:link {
	text-decoration: none;
    color: rgb(255, 111, 0)
  }
  #footer a:visited {
	text-decoration: none;
    color: rgb(255, 111, 0)
  }
  #footer a:hover {
	text-decoration: none;
	color: rgb(255, 111, 0)
  }
  #footer a:active {
	text-decoration: none;
    color: rgb(255, 111, 0)
  }